.places h1 {
    text-align: left;
    font-size: 30px;
    flex: 0 1 100%;
}

.places > article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #ff5a5f;
    border-radius: 4px;
}

.places > article h2 {
    font-size: 30px;
    text-align: center;
}

.places {
    width: 100%;
    border: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
